blinker
certifi
charset-normalizer
click
Flask
flask-cors
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
networkx
numpy
pandas
python-dateutil
requests
scikit-learn
scipy
six
threadpoolctl
urllib3
Werkzeug
